/* 
:root {
    --color1: rgb(0, 104, 64);
    --color2: linear-gradient(
      90deg,
      rgba(31, 166, 126, 1) 0%,
      rgba(13, 74, 56, 1) 100%
    );
  }
  
  .skills-section {
    margin: auto;
    box-shadow: 3px 3px 5px 3px rgba(13, 74, 56, 1);
    padding: 3rem;
    font-size: 1.5rem;
    width: 90%;
    max-width: 800px;
  }
  
  i {
    color: var(--color1);
  }
  h2 {
    color: white;
    margin-bottom: 10px;
  }
  
  .what {
    margin: 0.75rem 0 0.1rem 0.75rem;
    color: white;
    font-weight: bolder;
  }
  
  .skill-container {
    background-color: rgb(221, 221, 221);
    border-radius: 1rem;
    height: 35px;
  }
  
  .skill {
    background: var(--color2);
    height: 100%;
    font-size: 1.25rem;
    color: white;
    border-radius: 1rem;
    display: flex;
  }
  span {
    margin: auto;
  }
  
  .s1 {
    width: 85%;
  }
  .s2 {
    width: 65%;
  }
  .s3 {
    width: 95%;
  }
  
  .load {
    animation: loading 1s linear;
  }
  @keyframes loading {
    0% {
      width: 0%;
    }
  } */





  
li {
	list-style: none;
}
#about{
  width: 80%;
  margin:auto;
}

#about a {
	color: white;
}

#about a:hover, a:focus {
	color: white;
	text-decoration: none;
}


#about h1 {
	color: white;
	text-align: center;
	margin-top: 4%;
	font-size: 412.5%;
}


#about h1 > small {
	display: block;
	color: white;
}

#about h2 {
	font-size: 245%;
	margin-top: 140px;
}

#about h2:after {
	display: block;
	margin: 42px 0;
	content: "";
}

#about h3 {
	font-weight: bold;
}

#about h4 {
	font-size: 92%;
}

#about h6 {
	color: #F0F0F0;
}


#about h1 .logo {
	font-size: 230%;
	font-family: 'Brush Script MT', cursive;
	width: 200px;
	margin-left: -20px;
}

.noir {
	display: block;
	background-color: black;
	padding: 18px;
	border: 3px solid white;
}

.vertical-list li {
	float: left;
}

.blue-border {
	border: 2px solid #114190;
}

.magenta-border {
	border: 2px solid #e11a61;
}

.purple-border {
	border: 2px solid #9d1098;
}

.red-border {
	border: 2px solid #9d102b;
}


.overflow {
	overflow: hidden;
}

.overlay {
	background-color: rgba(4,14,22,.83);
	height: 100%;
	width: 100%;
	padding-bottom: 80px;
}


#about::before {
	height: 0px;
	width: 0px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid #131c23;
	margin: 0 auto;
	content: "";
	display: block;
}

.social-links {
	margin-top: 100px;
	overflow: hidden;
	padding: 0;
	display: table;
	margin: 0 auto;
	margin-top: 90px;
}

.social-links li {
	display: inline-table;
	margin-right: 10px;
}

.twitter {
	border-color: #55acee;
}

.linkedin {
	border-color: #0077b5;
}

.freecodecamp {
	border-color: #4a2b0f;
}

.twitter:hover {
	background-color: #55acee;
	transition: background-color .4s;
}

.linkedin:hover {
	background-color: #0077b5;
	transition: background-color .4s;
}

.freecodecamp:hover {
	background-color: #4a2b0f;
	transition: background-color .4s;
}


#about .info {
	display: flex;
	flex-direction: row;
}

#about h2 {
	color: #0d2435;
}

#about h2::after {
	border-bottom: 2px dashed #918D8D;
}

#about .info p {
	line-height: 270%;
}

#about .signature {
	font-family: 'Brush Script MT', cursive;
	font-size: 150%;
	float: right;
	color: #0d2435;
	opacity: .9;
}

#skill-set {
	margin-top: 80px;
	padding-bottom: 80px;
}
.myimg{
  /* width: 100%; */
  object-fit: cover;
}

#skill-set ul {
	overflow: hidden;
}

#web-development-skills {
	background-color: #114190;
}


#automation-skills {
	background-color: #e11a61;
}

#misc-skills {
	background-color: #9d1098;
}

.skills {
	color: white;
}

.skills li {
	padding: 20px;
}
.apex{
  font-size: 2rem;
}

@media only screen and (max-width: 1450px) {
  .myimg{
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }
  .apex{
    font-size: 1.3rem;
  }

}
@media only screen and (max-width: 650px) {
  .myimg{
    display: none;
  }
  .apex{
    font-size: 0.9rem;
  }

}
