@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}
.Intro{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}